
.xm-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #C65860;
    font-family: 'Fira Sans', sans-serif !important;

}

.xm-content {
    display: flex;
    flex-direction: column;
    background-color: #F2EFD2;
    margin: 1em;
    border-width: 5px;
    border-radius: 10px;
    border-color: #D8CCA2;
    border-style: solid;
    color: #673135;
    _width: 100%;
    box-shadow: 10px 10px 5px #944046;
    /* font-size: 14px; */
}

.xm-content h3.ui.header {
    font-family: 'Fira Sans', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.xm-content.about .ui.divider {
    margin: 1em;
    margin-bottom: 0.5em;
    border-color: #d9cda2;
}

.xm-content > p {
    padding: 0.75em;
    margin: 0;
}


.xm-content.about .ui.image {
    box-shadow: 5px 5px 5px #c5c4ac;
    border-radius: 5px;
}

.xm-content.about .ui.image img, .ui.image.xm-img.home img {
    border-radius: 5px;
}

.ui.image.xm-img.home {
    margin: 1em;
    border-style: solid;
    border-color: #D8CCA2;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #944046;
}

.ui.image.xm-img.home img {
    _border-radius: 5px;
}

@media (min-width: 768px) {
    .xm-container {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }

    nav > div {
        display: flex;
        flex-direction: column;
    }
}

header {
    grid-column: span 3;
    padding: .25em;
    text-align: center;
    font-size: 1.4em;
    background: #f2f0d2;
    /* color: #AB4F75; */
    padding-bottom: 0;
}

main {
    flex: 1;
    padding: 20px;
}

nav {
    background-color: #F2EFD2;
    padding: 0px;
    border-bottom-width: 5px;
    border-bottom-color: #D8CCA2;
    border-bottom-style: solid;
}

nav > .ui.secondary.pointing.menu a.item,
nav > .ui.secondary.pointing.menu a.active.item {
    color: #ab4f75;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

nav > .ui.secondary.pointing.menu .active.item {
    border-color: #673235;
}

aside {
    padding: 20px;
    background-color: #936;
}

footer {
    _grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #1b1c1d;
    color: white;
}

h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

p.disclaimer {
    font-family: 'Fira Sans';
    font-weight: 100;
    font-size: 75%;
    margin-top: 1em;
}

div.xm-services button.ui.button {
  background-color: #AB4F75;
  margin: 0 auto;
  color: #f2f0d2;
  font-family: 'Fira Sans';
  font-weight: 100;
}

div.xm-services {
    margin: 0 auto 1em;
}

.ui.link.cards.xm-downloads > .card {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.ui.link.cards.xm-downloads > .card:first-child {
    margin-top: 2em;
}

h2{
    font-size: 2em;
    text-shadow: 2px 2px 4px #863a3f;
    color: #f2f0d2;
    text-align: center;
    font-weight: 500;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin-bottom: 0em;
}

.ui.card>.content, .ui.cards>.card>.content{
    background-color: #F2EFD2;
    color:#673135;
}

.ui.card>.extra, .ui.cards>.card>.extra{
    background-color: #D8CCA2;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header{
    color: #ab4f75;
}

.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description{
    color: #ab4f75;
}